In [ ]:
import pandas as pd
import numpy as np

### Creating DataFrame from files

DataFrame can be created from three types of files:
<ol>
    <li>Comma Separated Values(CSV files) - read_csv function</li>
    <li> Excel Files - read_excel function</li>
    <li> Text files - read_table function</li>
</ol>

Separators maybe specified while using read_csv or read_table functions

In [ ]:
sslc = pd.read_csv('marks.txt',sep=';',header=None,index_col=None)

#### Display first five records

In [ ]:
sslc.head()

  0      1    2    3   4   5   6      7    8    9   10
0  A  10001  053  036  28  16  44  177.0  NaN  NaN NaN
1  A  10002  058  037  42  35  40  212.0    P  NaN NaN
2  A  10003  072  056  71  55  70  324.0    P  NaN NaN
3  A  10004  087  064  83  58  65  357.0    P  NaN NaN
4  A  10005  059  045  50  35  48  237.0    P  NaN NaN

In [ ]:
sslc.columns = ['region','roll_number','fl','sl','math','sci','ss','total','pass','withheld','extra']

In [ ]:
sslc.head(7)

  region  roll_number   fl   sl math sci  ss  total pass withheld  extra
0      A        10001  053  036   28  16  44  177.0  NaN      NaN    NaN
1      A        10002  058  037   42  35  40  212.0    P      NaN    NaN
2      A        10003  072  056   71  55  70  324.0    P      NaN    NaN
3      A        10004  087  064   83  58  65  357.0    P      NaN    NaN
4      A        10005  059  045   50  35  48  237.0    P      NaN    NaN
5      A        10006  044  037   25  18  37  161.0  NaN      NaN    NaN
6      A        10007  062  046   49  36  44  237.0    P      NaN    NaN

#### Display Last Eight Records

In [ ]:
sslc.tail(8)

       region  roll_number   fl   sl math sci  ss total pass withheld  extra
185659      C       199991  063  042   37  35  60   237    P      NaN    NaN
185660      C       199992  058  044   36  20  45   203  NaN      NaN    NaN
185661      C       199994  044  038   25  17  41   165  NaN      NaN    NaN
185662      C       199995  053  034   26  24  44   181  NaN      NaN    NaN
185663      C       199996  051  038   24  15  41   169  NaN      NaN    NaN
185664      C       199997  049  039   12  20  24   144  NaN      NaN    NaN
185665      C       199998  033  036   22  15  35   141  NaN      NaN    NaN
185666      C       199999  017  014   15  14  20    80  NaN      NaN    NaN

### General attributes of dataframe

In [ ]:
# returns number of data(cells) in the dataframe
sslc.size

681087

In [ ]:
# returns the number of non-null values in each column
sslc.count()

region         61917
roll_number    61917
fl             61916
sl             61916
math           61916
sci            61916
ss             61916
total          61916
pass           52080
withheld          45
extra              0
dtype: int64

In [ ]:
# Return a tuple of the number of records(rows) and number of attributes (columns)
sslc.shape

(61917, 11)

In [ ]:
# Return number of dimensions of the dataframe
sslc.ndim

2

#### Summary about dataframe

In [ ]:
sslc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61917 entries, 0 to 61916
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   region       61917 non-null  object
 1   roll_number  61917 non-null  int64
 2   fl           61916 non-null  object
 3   sl           61916 non-null  object
 4   math         61916 non-null  object
 5   sci          61916 non-null  object
 6   ss           61916 non-null  object
 7   total        61916 non-null  float64
 8   pass         52080 non-null  object
 9   withheld     45 non-null     object
 10  extra        0 non-null      float64
dtypes: float64(2), int64(1), object(8)
memory usage: 5.2+ MB

In [ ]:
# number of unique values in each column of dataframe
sslc.nunique()

region             6
roll_number    61917
fl                96
sl                94
math              99
sci               96
ss                95
total            449
pass               1
withheld           1
extra              0
dtype: int64

#### Statistical Description about Dataframe
<ul>
    <li>By default it shows only for numerical attributes</li>
    <li>Keyword arguments shall be given to specifically display attributes</li>
    <li>For categorical attributes count,unique,top,freq are displayed</li>
</ul>

In [ ]:
sslc.describe()

        roll_number         total  extra
count  61917.000000  61916.000000    0.0
mean   41547.339406    300.737709    NaN
std    18203.837627     83.315593    NaN
min       73.000000      0.000000    NaN
25%    25808.000000    240.000000    NaN
50%    41541.000000    299.000000    NaN
75%    57334.000000    366.000000    NaN
max    73062.000000    488.000000    NaN

In [ ]:
sslc.describe(include=[object])

       region     fl     sl   math    sci     ss   pass withheld
count   61917  61916  61916  61916  61916  61916  52080       45
unique      6     96     94     99     96     95      1        1
top         A    084    035     35     35     35      P        W
freq    14036   1928   2061   4259   9354   2209  52080       45

In [ ]:
sslc.describe(exclude=[object])

        roll_number         total  extra
count  61917.000000  61916.000000    0.0
mean   41547.339406    300.737709    NaN
std    18203.837627     83.315593    NaN
min       73.000000      0.000000    NaN
25%    25808.000000    240.000000    NaN
50%    41541.000000    299.000000    NaN
75%    57334.000000    366.000000    NaN
max    73062.000000    488.000000    NaN

In [ ]:
sslc.describe(include='all')

       region   roll_number     fl     sl  ...         total   pass withheld  extra
count   61917  61917.000000  61916  61916  ...  61916.000000  52080       45    0.0
unique      6           NaN     96     94  ...           NaN      1        1    NaN
top         A           NaN    084    035  ...           NaN      P        W    NaN
freq    14036           NaN   1928   2061  ...           NaN  52080       45    NaN
mean      NaN  41547.339406    NaN    NaN  ...    300.737709    NaN      NaN    NaN
std       NaN  18203.837627    NaN    NaN  ...     83.315593    NaN      NaN    NaN
min       NaN     73.000000    NaN    NaN  ...      0.000000    NaN      NaN    NaN
25%       NaN  25808.000000    NaN    NaN  ...    240.000000    NaN      NaN    NaN
50%       NaN  41541.000000    NaN    NaN  ...    299.000000    NaN      NaN    NaN
75%       NaN  57334.000000    NaN    NaN  ...    366.000000    NaN      NaN    NaN
max       NaN  73062.000000    NaN    NaN  ...    488.000000    NaN      NaN    NaN

[11 rows x 11 columns]

### Number of bytes consumed

#### By DataFrame

In [ ]:
sslc.memory_usage()

Index             128
region         495336
roll_number    495336
fl             495336
sl             495336
math           495336
sci            495336
ss             495336
total          495336
pass           495336
withheld       495336
extra          495336
dtype: int64

#### By a Specific Columns

In [ ]:
sslc['pass'].nbytes

495336

#### Accessing a Column

In [ ]:
#Square brackets
sslc['region']

0        A
1        A
2        A
3        A
4        A
        ..
61912    A
61913    A
61914    A
61915    A
61916    A
Name: region, Length: 61917, dtype: object

In [ ]:
#Print all column names
sslc.columns

Index(['region', 'roll_number', 'fl', 'sl', 'math', 'sci', 'ss', 'total',
       'pass', 'withheld', 'extra'],
      dtype='object')

In [ ]:
#Dot operator
sslc.withheld

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
61912    NaN
61913    NaN
61914    NaN
61915    NaN
61916    NaN
Name: withheld, Length: 61917, dtype: object

#### Reterving rows

#### By default numerical index given by Pandas

In [ ]:
# print details in first row
sslc.iloc[0]

region             A
roll_number    10001
fl               053
sl               036
math              28
sci               16
ss                44
total            177
pass             NaN
withheld         NaN
extra            NaN
Name: 0, dtype: object

#### Change index of dataframe

In [ ]:
sslc.set_index('roll_number',inplace=True)

#### Access row by index column specified by user

In [ ]:
sslc.loc[10001]

region        A
fl          053
sl          036
math         28
sci          16
ss           44
total       177
pass        NaN
withheld    NaN
extra       NaN
Name: 10001, dtype: object

In [ ]:
sslc.iloc[0]

region        A
fl          053
sl          036
math         28
sci          16
ss           44
total       177
pass        NaN
withheld    NaN
extra       NaN
Name: 10001, dtype: object

### Accessing a data in dataframe

#### Using row and column indices given by Pandas

In [ ]:
sslc.iat[0,1]

'053'

#### Using indices specified by programmer

In [ ]:
sslc.at[10001,'fl']

'053'

In [ ]:
# find number of null values in each column of the dataframe
sslc.isnull().sum()

region          0
fl              1
sl              1
math            1
sci             1
ss              1
total           1
pass         9837
withheld    61872
extra       61917
dtype: int64

In [ ]:
sslc['fl'].unique()

array(['053', '058', '072', '087', '059', '044', '062', '043', '049',
       '055', '048', '045', '083', '046', '037', '030', '050', '042',
       '067', '076', '074', '051', '056', '073', '071', '068', '069',
       '047', '064', '082', '079', '075', '086', '077', '054', '041',
       '078', '063', '084', '080', '085', '065', '090', '093', '092',
       '089', '081', '033', '070', '066', '060', '052', '034', '057',
       '021', '039', '036', '026', '032', '035', '040', '017', '027',
       '061', '024', '028', '088', '031', '029', '025', '038', '091',
       '094', '096', '095', '022', '019', '014', '016', '018', '023',
       '011', '012', '015', '004', '013', '010', '009', '020', '097',
       '006', '005', '007', '008', 'AA', '098', nan], dtype=object)

#### Replace a value

In [ ]:
sslc['fl'].replace('AA',np.nan,inplace=True)
sslc['sl'].replace('AA',np.nan,inplace=True)
sslc['math'].replace('AA',np.nan,inplace=True)
sslc['sci'].replace('AA',np.nan,inplace=True)
sslc['ss'].replace('AA',np.nan,inplace=True)
sslc['total'].replace('AA',np.nan,inplace=True)

#### Find unique values in a column

In [ ]:
sslc['sl'].unique()

array(['036', '037', '056', '064', '045', '046', '071', '040', '042',
       '041', '039', '038', '048', '043', '035', '032', '052', '058',
       '063', '031', '047', '055', '028', '029', '051', '059', '057',
       '033', '072', '062', '061', '065', '050', '049', '066', '069',
       '053', '077', '075', '054', '068', '024', '026', '060', '074',
       '023', '025', '027', '018', '017', '034', '020', '021', '022',
       '067', '015', '019', '016', '073', '080', '079', '070', '030',
       '044', '078', '085', '076', '083', '084', '092', '081', '082',
       '088', '086', '087', '089', '014', '012', '011', '010', '091',
       '008', '090', '009', '093', '094', '013', '006', '007', nan, '004',
       '095', '096', '005'], dtype=object)

#### Change datatype of a column

In [ ]:
sslc['fl'] = pd.to_numeric(sslc['fl'], errors='coerce')
sslc['sl'] = pd.to_numeric(sslc['sl'], errors='coerce')
sslc['math'] = pd.to_numeric(sslc['math'], errors='coerce')
sslc['sci'] = pd.to_numeric(sslc['sci'], errors='coerce')
sslc['ss'] = pd.to_numeric(sslc['ss'], errors='coerce')
sslc['total'] = pd.to_numeric(sslc['total'], errors='coerce')

In [ ]:
sslc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61917 entries, 10001 to 73
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   region    61917 non-null  object
 1   fl        61906 non-null  float64
 2   sl        61862 non-null  float64
 3   math      61904 non-null  float64
 4   sci       61902 non-null  float64
 5   ss        61900 non-null  float64
 6   total     61916 non-null  float64
 7   pass      52080 non-null  object
 8   withheld  45 non-null     object
 9   extra     0 non-null      float64
dtypes: float64(7), object(3)
memory usage: 7.7+ MB

In [ ]:
sslc['sl'].nbytes

495336

In [ ]:
sslc['withheld'].nbytes

495336

In [ ]:
sslc.describe()

                 fl            sl  ...         total  extra
count  61906.000000  61862.000000  ...  61916.000000    0.0
mean      72.598197     53.755213  ...    300.737709    NaN
std       14.784896     15.707350  ...     83.315593    NaN
min        4.000000      4.000000  ...      0.000000    NaN
25%       64.000000     42.000000  ...    240.000000    NaN
50%       75.000000     53.000000  ...    299.000000    NaN
75%       84.000000     65.000000  ...    366.000000    NaN
max       98.000000     96.000000  ...    488.000000    NaN

[8 rows x 7 columns]

In [ ]:
sslc.memory_usage()

Index       3116776
region       495336
fl           495336
sl           495336
math         495336
sci          495336
ss           495336
total        495336
pass         495336
withheld     495336
extra        495336
dtype: int64

#### Create sub dataframe with only a specific datatype

In [ ]:
#filtered data frame
non_numeric = sslc.select_dtypes(include=[object])

#### Statistical measures of columns

In [ ]:
sslc['total'].max()

488.0

In [ ]:
sslc['total'].min()

0.0

In [ ]:
sslc['total'].mean()

300.7377091543381

In [ ]:
sslc['total'].median()

299.0

In [ ]:
sslc['region'].mode()

0    A
dtype: object

#### Verify mode by priniting count of all regions

In [ ]:
sslc['total'].std()

83.31559305713134

In [ ]:
sslc['region'].value_counts()

A    14036
F    11635
D    10855
E    10321
B     7702
C     7368
Name: region, dtype: int64

In [ ]:
#check for null values after replacing 'AA'
sslc.isnull().sum()

region          0
fl             11
sl             55
math           13
sci            15
ss             17
total           1
pass         9837
withheld    61872
extra       61917
dtype: int64

#### Listdown unique values of a column

In [ ]:
sslc['pass'].unique()

array([nan, 'P'], dtype=object)

In [ ]:
sslc['pass'].value_counts()

P    52080
Name: pass, dtype: int64

In [ ]:
sslc['pass'].isnull().sum()

9837

#### Replace null values of a column by a value

In [ ]:
sslc['pass'] = sslc['pass'].fillna('F')

In [ ]:
sslc['pass'].value_counts()

P    52080
F     9837
Name: pass, dtype: int64

In [ ]:
sslc.withheld.value_counts()

W    45
Name: withheld, dtype: int64

### Conditional Indexing

#### Create a sub dataframe with only withheld results

In [ ]:
sslc_WH = sslc[sslc['withheld']=='W']

In [ ]:
sslc_WH

            region    fl  sl  math   sci    ss  total pass withheld  extra
roll_number
27815            C  71.0 NaN  63.0  55.0  57.0  246.0    F        W    NaN
27816            C  69.0 NaN  45.0  43.0  72.0  229.0    F        W    NaN
27817            C  65.0 NaN  42.0  46.0  67.0  220.0    F        W    NaN
27818            C  77.0 NaN  91.0  45.0  74.0  287.0    F        W    NaN
27819            C  73.0 NaN  67.0  48.0  63.0  251.0    F        W    NaN
27820            C  78.0 NaN  94.0  74.0  84.0  330.0    F        W    NaN
34514            C  26.0 NaN  21.0  13.0  20.0   80.0    F        W    NaN
34515            C  59.0 NaN  70.0  35.0  36.0  200.0    F        W    NaN
34516            C  40.0 NaN  35.0  19.0  24.0  118.0    F        W    NaN
34517            C  63.0 NaN  53.0  35.0  35.0  186.0    F        W    NaN
34518            C  28.0 NaN  40.0  25.0  19.0  112.0    F        W    NaN
34519            C  46.0 NaN  42.0  22.0  16.0  126.0    F        W    NaN
34520            C  19.0 NaN  35.0  12.0  60.0  126.0    F        W    NaN
34521            C  26.0 NaN  35.0  16.0  38.0  115.0    F        W    NaN
34522            C  43.0 NaN  51.0  20.0  57.0  171.0    F        W    NaN
34523            C  16.0 NaN   8.0  13.0  35.0   72.0    F        W    NaN
34524            C  28.0 NaN  43.0  20.0  45.0  136.0    F        W    NaN
38288            D   NaN NaN   NaN   NaN   NaN    0.0    F        W    NaN
38298            D   NaN NaN   NaN   NaN   NaN    0.0    F        W    NaN
38340            D  50.0 NaN  56.0  45.0  70.0  221.0    F        W    NaN
38343            D  48.0 NaN  57.0  51.0  60.0  216.0    F        W    NaN
38344            D  43.0 NaN  63.0  47.0  66.0  219.0    F        W    NaN
38345            D  56.0 NaN  62.0  59.0  62.0  239.0    F        W    NaN
38346            D  30.0 NaN  25.0  50.0  51.0  156.0    F        W    NaN
38348            D  40.0 NaN  43.0  44.0  56.0  183.0    F        W    NaN
38349            D  36.0 NaN  46.0  26.0  73.0  181.0    F        W    NaN
38935            D   NaN NaN   NaN   NaN   NaN    0.0    F        W    NaN
45599            D   NaN NaN   NaN   NaN   NaN    0.0    F        W    NaN
60961            F  38.0 NaN  58.0  35.0  22.0  153.0    F        W    NaN
60962            F  40.0 NaN  52.0  35.0  37.0  164.0    F        W    NaN
60963            F  44.0 NaN  50.0  35.0  28.0  157.0    F        W    NaN
60964            F  52.0 NaN  50.0  47.0  53.0  202.0    F        W    NaN
60965            F  42.0 NaN  65.0  43.0  42.0  192.0    F        W    NaN
60966            F  45.0 NaN  56.0  43.0  35.0  179.0    F        W    NaN
60967            F  45.0 NaN  55.0  53.0  45.0  198.0    F        W    NaN
60968            F  46.0 NaN  42.0  41.0  39.0  168.0    F        W    NaN
60969            F  39.0 NaN  54.0  49.0  40.0  182.0    F        W    NaN
60970            F  42.0 NaN  46.0  48.0  35.0  171.0    F        W    NaN
60971            F  33.0 NaN  45.0  38.0  42.0  158.0    F        W    NaN
60972            F  45.0 NaN  20.0  28.0  35.0  128.0    F        W    NaN
60973            F  36.0 NaN  16.0  35.0  25.0  112.0    F        W    NaN
60974            F  65.0 NaN  46.0  55.0  47.0  213.0    F        W    NaN
60975            F  44.0 NaN  41.0  35.0  47.0  167.0    F        W    NaN
60976            F  44.0 NaN  19.0  27.0  37.0  127.0    F        W    NaN
60977            F  52.0 NaN  55.0  47.0  40.0  194.0    F        W    NaN

#### Combining Conditions using and, or, xor

In [ ]:
fl_and_sl = sslc[(sslc['fl']>75) & (sslc['sl']>75)]

In [ ]:
fl_and_sl

            region    fl    sl   math   sci    ss  total pass withheld  extra
roll_number
10082            A  93.0  77.0   88.0  76.0  93.0  427.0    P      NaN    NaN
10088            A  92.0  77.0   99.0  76.0  92.0  436.0    P      NaN    NaN
10234            A  90.0  80.0   96.0  86.0  80.0  432.0    P      NaN    NaN
10241            A  93.0  79.0   97.0  72.0  83.0  424.0    P      NaN    NaN
10286            A  78.0  78.0  100.0  69.0  88.0  413.0    P      NaN    NaN
...            ...   ...   ...    ...   ...   ...    ...  ...      ...    ...
72964            A  90.0  89.0   94.0  85.0  88.0  446.0    P      NaN    NaN
72999            A  80.0  76.0   95.0  84.0  82.0  417.0    P      NaN    NaN
73000            A  77.0  76.0   86.0  72.0  82.0  393.0    P      NaN    NaN
73060            A  92.0  82.0  100.0  96.0  98.0  468.0    P      NaN    NaN
73061            A  93.0  77.0  100.0  86.0  97.0  453.0    P      NaN    NaN

[5681 rows x 10 columns]

In [ ]:
fl_or_sl = sslc[(sslc['fl']>75) | (sslc['sl']>75)]

In [ ]:
fl_or_sl

            region    fl    sl   math   sci    ss  total pass withheld  extra
roll_number
10004            A  87.0  64.0   83.0  58.0  65.0  357.0    P      NaN    NaN
10008            A  87.0  71.0   97.0  71.0  81.0  407.0    P      NaN    NaN
10014            A  83.0  48.0   82.0  42.0  64.0  319.0    P      NaN    NaN
10023            A  76.0  58.0   61.0  74.0  73.0  342.0    P      NaN    NaN
10031            A  76.0  55.0   60.0  52.0  59.0  302.0    P      NaN    NaN
...            ...   ...   ...    ...   ...   ...    ...  ...      ...    ...
73053            A  87.0  61.0   98.0  80.0  76.0  402.0    P      NaN    NaN
73055            A  90.0  69.0   94.0  89.0  92.0  434.0    P      NaN    NaN
73058            A  80.0  62.0   83.0  73.0  86.0  384.0    P      NaN    NaN
73060            A  92.0  82.0  100.0  96.0  98.0  468.0    P      NaN    NaN
73061            A  93.0  77.0  100.0  86.0  97.0  453.0    P      NaN    NaN

[30916 rows x 10 columns]

In [ ]:
fl_or_sl.head(50)

            region    fl    sl  math   sci    ss  total pass withheld  extra
roll_number
10004            A  87.0  64.0  83.0  58.0  65.0  357.0    P      NaN    NaN
10008            A  87.0  71.0  97.0  71.0  81.0  407.0    P      NaN    NaN
10014            A  83.0  48.0  82.0  42.0  64.0  319.0    P      NaN    NaN
10023            A  76.0  58.0  61.0  74.0  73.0  342.0    P      NaN    NaN
10031            A  76.0  55.0  60.0  52.0  59.0  302.0    P      NaN    NaN
10042            A  82.0  59.0  71.0  53.0  63.0  328.0    P      NaN    NaN
10045            A  79.0  57.0  85.0  59.0  60.0  340.0    P      NaN    NaN
10048            A  86.0  72.0  78.0  84.0  78.0  398.0    P      NaN    NaN
10054            A  76.0  71.0  85.0  71.0  64.0  367.0    P      NaN    NaN
10058            A  77.0  65.0  62.0  49.0  48.0  301.0    P      NaN    NaN
10063            A  78.0  55.0  57.0  48.0  78.0  316.0    P      NaN    NaN
10069            A  84.0  66.0  96.0  62.0  78.0  386.0    P      NaN    NaN
10070            A  83.0  69.0  78.0  74.0  87.0  391.0    P      NaN    NaN
10071            A  80.0  61.0  89.0  56.0  78.0  364.0    P      NaN    NaN
10072            A  78.0  53.0  79.0  38.0  73.0  321.0    P      NaN    NaN
10076            A  85.0  62.0  73.0  86.0  80.0  386.0    P      NaN    NaN
10077            A  84.0  64.0  87.0  53.0  85.0  373.0    P      NaN    NaN
10079            A  84.0  57.0  75.0  65.0  68.0  349.0    P      NaN    NaN
10081            A  90.0  66.0  81.0  52.0  79.0  368.0    P      NaN    NaN
10082            A  93.0  77.0  88.0  76.0  93.0  427.0    P      NaN    NaN
10083            A  83.0  75.0  90.0  67.0  66.0  381.0    P      NaN    NaN
10086            A  86.0  54.0  68.0  64.0  70.0  342.0    P      NaN    NaN
10088            A  92.0  77.0  99.0  76.0  92.0  436.0    P      NaN    NaN
10093            A  89.0  55.0  68.0  51.0  70.0  333.0    P      NaN    NaN
10094            A  81.0  48.0  56.0  62.0  85.0  332.0    P      NaN    NaN
10095            A  92.0  68.0  89.0  74.0  87.0  410.0    P      NaN    NaN
10097            A  83.0  57.0  63.0  42.0  80.0  325.0    P      NaN    NaN
10099            A  82.0  53.0  75.0  50.0  80.0  340.0    P      NaN    NaN
10104            A  81.0  66.0  89.0  72.0  83.0  391.0    P      NaN    NaN
10106            A  89.0  60.0  90.0  74.0  75.0  388.0    P      NaN    NaN
10107            A  87.0  63.0  82.0  59.0  79.0  370.0    P      NaN    NaN
10108            A  82.0  54.0  50.0  44.0  63.0  293.0    P      NaN    NaN
10109            A  89.0  74.0  86.0  89.0  84.0  422.0    P      NaN    NaN
10110            A  84.0  50.0  46.0  38.0  67.0  285.0    P      NaN    NaN
10111            A  82.0  52.0  51.0  35.0  57.0  277.0    P      NaN    NaN
10112            A  76.0  52.0  84.0  51.0  63.0  326.0    P      NaN    NaN
10113            A  80.0  47.0  54.0  35.0  61.0  277.0    P      NaN    NaN
10114            A  78.0  47.0  44.0  37.0  58.0  264.0    P      NaN    NaN
10116            A  76.0  50.0  63.0  35.0  55.0  279.0    P      NaN    NaN
10118            A  86.0  54.0  77.0  52.0  62.0  331.0    P      NaN    NaN
10119            A  84.0  46.0  56.0  41.0  67.0  294.0    P      NaN    NaN
10120            A  78.0  47.0  46.0  40.0  54.0  265.0    P      NaN    NaN
10125            A  77.0  51.0  36.0  35.0  55.0  254.0    P      NaN    NaN
10126            A  83.0  48.0  65.0  35.0  57.0  288.0    P      NaN    NaN
10128            A  87.0  57.0  57.0  63.0  73.0  337.0    P      NaN    NaN
10130            A  86.0  48.0  48.0  47.0  69.0  298.0    P      NaN    NaN
10131            A  84.0  54.0  77.0  47.0  55.0  317.0    P      NaN    NaN
10133            A  77.0  49.0  89.0  47.0  70.0  332.0    P      NaN    NaN
10134            A  77.0  51.0  58.0  52.0  75.0  313.0    P      NaN    NaN
10137            A  82.0  60.0  63.0  65.0  77.0  347.0    P      NaN    NaN

In [ ]:
fl_xor_sl = sslc[(sslc['fl']>75) ^ (sslc['sl']>75)]

In [ ]:
fl_xor_sl

            region    fl    sl  math   sci    ss  total pass withheld  extra
roll_number
10004            A  87.0  64.0  83.0  58.0  65.0  357.0    P      NaN    NaN
10008            A  87.0  71.0  97.0  71.0  81.0  407.0    P      NaN    NaN
10014            A  83.0  48.0  82.0  42.0  64.0  319.0    P      NaN    NaN
10023            A  76.0  58.0  61.0  74.0  73.0  342.0    P      NaN    NaN
10031            A  76.0  55.0  60.0  52.0  59.0  302.0    P      NaN    NaN
...            ...   ...   ...   ...   ...   ...    ...  ...      ...    ...
73050            A  83.0  67.0  77.0  68.0  83.0  378.0    P      NaN    NaN
73051            A  78.0  51.0  46.0  62.0  68.0  305.0    P      NaN    NaN
73053            A  87.0  61.0  98.0  80.0  76.0  402.0    P      NaN    NaN
73055            A  90.0  69.0  94.0  89.0  92.0  434.0    P      NaN    NaN
73058            A  80.0  62.0  83.0  73.0  86.0  384.0    P      NaN    NaN

[25235 rows x 10 columns]

#### Findout number of pass and withheld results regionwise

In [ ]:
sslc.groupby('region')['pass'].value_counts()

region  pass
A       P       11310
        F        2726
B       P        5942
        F        1760
C       P        6053
        F        1315
D       P        9761
        F        1094
E       P        9032
        F        1289
F       P        9982
        F        1653
Name: pass, dtype: int64

In [ ]:
 sslc.groupby('region')['withheld'].value_counts()

region  withheld
A       W           14
B       W           12
C       W           19
D       W           14
E       W            7
F       W           47
Name: withheld, dtype: int64

In [ ]:
sslc.groupby('region')['math'].min()

region
A    2.0
B    1.0
C    2.0
D    2.0
E    4.0
F    1.0
Name: math, dtype: float64

#### Find the number of first language results withheld

In [ ]:
sslc['fl'].isnull().sum()

11

#### Create a dataframe with total marks greater than or equal to 300

In [ ]:
sslc_60 = sslc[sslc['total']>=300]

In [ ]:
# number of records in subdataframe
sslc_60.count()

region      30779
fl          30778
sl          30778
math        30779
sci         30779
ss          30778
total       30779
pass        30779
withheld        1
extra           0
dtype: int64

### Insert a new column to have sum of language marks

In [ ]:
sslc.insert(3,'language_total',0)

In [ ]:
sslc.head()

            region    fl    sl  language_total  ...  total  pass  withheld  extra
roll_number                                     ...
10001            A  53.0  36.0               0  ...  177.0     F       NaN    NaN
10002            A  58.0  37.0               0  ...  212.0     P       NaN    NaN
10003            A  72.0  56.0               0  ...  324.0     P       NaN    NaN
10004            A  87.0  64.0               0  ...  357.0     P       NaN    NaN
10005            A  59.0  45.0               0  ...  237.0     P       NaN    NaN

[5 rows x 11 columns]

#### Function to find sum of two numbers

In [ ]:
def total(fl,sl):
    return fl+sl

#### Call function to compute sum of fl and sl and store it in language_total column
Broadcasting happens

In [ ]:
sslc['language_total'] = total(sslc['fl'],sslc['sl'])

In [ ]:
sslc

            region    fl    sl  language_total  ...  total  pass  withheld  extra
roll_number                                     ...
10001            A  53.0  36.0            89.0  ...  177.0     F       NaN    NaN
10002            A  58.0  37.0            95.0  ...  212.0     P       NaN    NaN
10003            A  72.0  56.0           128.0  ...  324.0     P       NaN    NaN
10004            A  87.0  64.0           151.0  ...  357.0     P       NaN    NaN
10005            A  59.0  45.0           104.0  ...  237.0     P       NaN    NaN
...            ...   ...   ...             ...  ...    ...   ...       ...    ...
73059            A  45.0  36.0            81.0  ...  226.0     P       NaN    NaN
73060            A  92.0  82.0           174.0  ...  468.0     P       NaN    NaN
73061            A  93.0  77.0           170.0  ...  453.0     P       NaN    NaN
73062            A  45.0  41.0            86.0  ...  202.0     P       NaN    NaN
73               A   NaN   NaN             NaN  ...    NaN     F       NaN    NaN

[61917 rows x 11 columns]